.goals/human-quality-recommendations/protocol-v16-hosted-human-development/* -text -whitespace
.goals/human-quality-recommendations/protocol-v17-submission-human-development/* -text -whitespace
webapp/evaluate/* -text -whitespace
